@import "includes/variables";
@import "includes/mixins";

$facets-border:                   #b2b5b0; // #afafb6;
$facets-remove:                   #9cb586; // #8786b7
$section-title-color:             $brand-primary;// #7C7BAD;
$tag-bg-light:                    $light-green-50; // #f0f0fa;
$tag-bg-dark:                     $brand-primary; // #7C7BAD;
$tag-border:                      #b2b5b0; // #afafb6;
$tag-border-selected:             $light-green-100;// #a6a6fe;
$hover-background:                #F7F9F2; // #f0f0fa;
$link-color:                      $light-green-50; // #7C7BAD;
$search-border-selected:          $light-green-500;

$btn-primary-color:               $white !default;
$btn-primary-bg:                  $brand-primary !default;
$btn-primary-border:              $light-green-800 !default;

$link-color:                      $brand-primary;
$link-hover-color:                $light-green-800 !default;

$form-required-bg:                #F2FFD4; //#D2D2FF

$text-button-border:              $light-green-300;// #9daccc
$text-button-bg:                  $light-green-100;// #e2e6f0

$openerp-header:                  $light-green-800;
$openerp-link:                    $light-green-800;

a {
  color: $brand-primary;
}

.navbar-inverse {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;
  .navbar-nav {
    > .active > a {
      background-color: $navbar-inverse-border;
      &:hover, &:focus {
        background-color: $navbar-inverse-border;
      }
    }
    > li > a {
      color: $navbar-inverse-link-color;
      &:hover, &:focus {
        color: $navbar-inverse-link-hover-color;
      }
    }
  }
}

.btn-primary {
  color: $btn-primary-color;
  background-color: $btn-primary-bg;// #428bca
  border-color: $btn-primary-border;// #357ebd
  &:hover,
  &:focus {
    background-color: $link-hover-color;
  }
}

.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
  background-color: $brand-primary;
}

.openerp {
  .oe_secondary_menu_section {
    color: $brand-primary;
  }
  .oe-view-manager-header {
    border-bottom: 1px solid $facets-border;
  }
  .oe_searchview {
    &.oe_focused {
      border-color: $search-border-selected;
      @include box-shadow(0 1px 2px $search-border-selected inset);
    }
    .oe_searchview_facets {
      .oe_searchview_facet {
        &:focus {
          border-color: $search-border-selected;
          @include box-shadow(0 0 3px 1px $search-border-selected);
        }
        .oe_facet_values {
          background: $tag-bg-light;
        }
        .oe_facet_value {
          border-left: 1px solid $facets-border;
        }
        .oe_facet_remove {
          color: $facets-remove;
          &:hover {
            background: $facets-remove;
          }
        }
      }
    }
    .oe-autocomplete {
      border: 1px solid $facets-border;
      ul{
        li.oe-selection-focus {
          background-color: $brand-primary;
        }
        li.oe-separator {
          border-top: 1px solid $facets-border;
        }
      }
    }
  }
  .oe_horizontal_separator {
    color: $section-title-color;
  }
  .oe_button.oe_link {
    span {
      color: $link-color;
    }
  }
  .oe_stat_button {
    .stat_button_icon {
      color: $brand-primary;
    }
  }
  .oe_application {
    .oe-view-manager-body {
      a {
        color: $link-color;
      }
    }
  }
  .ui-widget-content a {
    color: $link-color;
  }
  .oe_stat_button:hover {
    color: $brand-primary;
  }
  .oe_fileupload {
    .oe_add {
      button.oe_attach {
        color: $brand-primary;
      }
      .oe_attach_label {
        color: $brand-primary;
      }
    }
  }
  .oe_form {
    .oe_form_required {
      input:not([disabled]):not([readonly]), select:not([disabled]):not([readonly]), textarea:not([disabled]):not([readonly]) {
        background-color: $form-required-bg !important;
      }
    }
  }
  .oe_form_editable {
    .oe_list_editable {
      .oe_list_content {
        td.oe_required {
          background-color: $form-required-bg;
        }
      }
    }
  }
  .oe_list.oe_list_editable.oe_editing {
    .oe_form_field {
      input, textarea {
        border: 1px solid $brand-primary;
      }
    }
  }
  ul.oe_form_status_clickable {
    li {
      > .label {
        color: $link-color;
      }
    }
  }
  .nav-pills > li.active,a.list-group-item.active {
    > a {
      background-color: $brand-primary;
    }
    a:hover,a:focus {
      background-color: $brand-primary;
    }
    .badge {
      color: $brand-primary;
    }
  }
  .badge {
    background-color: $brand-primary;
  }
  .oe_tag {
    background: $tag-bg-light;
  }
  .oe_tag_dark {
    background: $tag-bg-dark;
  }
}

.ui-menu {
  border: 1px solid $tag-border;
  .ui-menu-item {
    background: $tag-bg-light;
  }
  .ui-menu-item a.ui-state-hover, .ui-menu-item a.ui-state-active {
    background: $tag-bg-dark;
  }
}.ui-tabs .ui-tabs-nav li:hover, .ui-tabs .ui-tabs-nav li a:hover {
  color: $brand-primary;
 }

.text-core .text-wrap .text-tags .text-tag .text-button {
  border: 1px solid $text-button-border;
  background: $text-button-bg;
}

.openerp .oe_kanban_view {
  .oe_kanban_quick_create input {
    &:focus {
      border: 1px solid $tag-border-selected;
    }
  }
}

.openerp .oe_view_manager table.oe_view_manager_header h2 a {
  color: $openerp-header;
}

.openerp .oe_application a {
  color: $link-color;
}
