/* Reset the Bootstrap navbar logo styles */

.navbar-brand {
  padding: 0px;
}

header a.navbar-brand.logo {
    padding: 0 0px;
}

#oe_main_menu_navbar {
  z-index:  1031;
}

#website-top-navbar {
    z-index: 1032;
}

#web_editor-top-edit {
    z-index: 10000 !important;
}