/* ----------------------------------
 * header & footer
 * ---------------------------------- */

header {

  sup {
    top: -0.1em;
  }
}

footer {
  // background-color: $lightgray-dark !important;
}


#wrap {
  margin-top: 83px;
}

.oe_login_form {
  margin-top: 143px;
}

/* ----------------------------------
 * topic
 * ---------------------------------- */

.topic {
  position: relative;
  padding: 50px 0 110px;
}

.topic h3 {
  margin-top: 20px;
  color: #fff;
  font-size: 28px;
  font-weight: normal;
}

.topic h4 {
  margin-top: 15px;
  color: rgba(255, 255, 255, .8);
  font-weight: normal;
}

.topic .topic__infos {
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
  padding-top: 14px;
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
}

.topic .container {
  position: relative;
  color: rgba(255, 255, 255, .8);
}

.topic .container a {
  color: #fff;
  filter: alpha(opacity=100);
  opacity: 1;
  text-decoration: underline;
  padding: 0;
  font-weight: normal;
}

.topic .container a.btn {
  padding: 10px 16px;
  text-decoration: none;
}

.topic .container a.adpacks-img {
  float: left;
  width: 140px;
}

.topic .container a.adpacks-text {
  font-size: 13px;
  line-height: 16px !important;
  text-decoration: none;
}

.topic .container a.adpacks-poweredby {
  display: block;
  font-size: 13px;
  line-height: 16px !important;
  text-decoration: none;
  color: #c5f5fe;
}

.topic .github {
  position: relative;
  top: 10px;
}

/* ----------------------------------
 * color-swatches
 * ---------------------------------- */
.color-swatches .swatches {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFF;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.color-swatches .light,
.color-swatches .dark {
  width: 50%;
  height: 50px;
}

.color-swatches .light {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}

.color-swatches .dark {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}

.color-swatches .infos {
  padding: 5px 10px;
}

.color-swatches .infos h4,
.color-swatches .infos p {
  margin: 0;
}

.color-swatches .infos h4 {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 14px;
}

.color-swatches .infos p {
  font-size: 12px;
}

/* MARKETING CONTENT
 * ------------------------------------------------- */

/* Main marketing message and sign up button */

.carousel {
  height: 500px;
}

.jumbotron {
  background-size: canvas;
  text-align: center;
  background-color: $white;
  margin: 0;
  font-size: 4rem;
  border-radius: 0px;
  padding: 30px;
  overflow: hidden;
}

.jumbotron-home {
  background-image: url(/theme_agrista/static/src//img/home-tractor.jpg);
  background-repeat: no-repeat;
  background-color: inherit;
  position: relative;
}

.jumbotron-home .hand-phone {
  background: url(/theme_agrista/static/src//img/home-iphone.png) no-repeat;
  background-size: contain;
  width: 40%;
  height: 85%;
  right: 0;
  bottom: 0;
  position: absolute;
}

@media (max-width: 768px) {
  .jumbotron-home .hand-phone {
    background: none;
  }
}

@media (min-width: 768px) {
  .jumbotron-home .hand-phone {
    background: none;
  }
}

@media (min-width: 992px) {
  .jumbotron-home .hand-phone {
    background: url(/theme_agrista/static/src/img/home-iphone.png) no-repeat;
    background-size: contain;
  }
}

@media (min-width: 1200px) {
  .jumbotron-home {
    background-size: 100% auto;
  }
}

.jumbotron-home .hand-phone {
  background: url(/theme_agrista/static/src//img/home-iphone.png) no-repeat;
  background-size: contain;
}

.jumbotron.jumbotron-enterprise {
  position: relative;
  font-size: 16px;
  color: $white;
  text-align: center;
  background-color: $brand-secondary;
  border-radius: 0;
  height: 700px;
  overflow: hidden;
  padding: 60px 30px;

  h2 {
    color: $grey-200;
    font-weight: 300;
    line-height: 1.6;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h3 {
    font-weight: 200;
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    line-height: 25px;
    color: $grey-300;
    margin-bottom: 25px;
    width: 90%;
  }
}

.enterprise .jumbotron h1 {
  color: $white;
  font-weight: 300;
}

.masthead {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.masthead h1 {
  font-size: 70px;
  font-weight: 300;
  color: $white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.masthead .btn {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 18px 24px;
  font-size: 21px;
  font-weight: 500;
}

.masthead p {
  font-size: 21px;
}

.btn-outline-inverse {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 18px 24px;
  font-size: inherit;
  font-weight: 500;
  color: $white; /* redeclare to override the `.jumbotron a` */
  background-color: transparent;
  border-color: $white;
  border-color: rgba(255, 255, 255, .5);
  transition: all .1s ease-in-out;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:active {
  color: $brown-700;
  background-color: $white;
  border-color: $white;
}

.jumbotron-iphone {
  position: absolute;
  height: 540px;
  bottom: -449px;
  z-index: 2;
  margin-left: 50px;
}

.jumbotron-screenshots {
  position: relative;
  padding-top: 30px;
}

.jumbotron-screenshot {
  position: relative;
  margin-bottom: -20px;
}

.jumbotron-screenshot img {
  display: block;
  max-width: 100%;
}

.jumbotron-screenshot:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  content: " ";
  border: 0;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.65), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.65), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

.jumbotron-screenshot.enterprise {
  width: 940px;
  margin-left: 0px;
}

.jumbotron-screenshot.mobile {
  position: absolute;
  left: 50%;
  bottom: -266px;
  z-index: 2;
  margin-left: -140px;
  width: 700px;
}

.jumbotron-screenshot.mobile:after {
  border-radius: 12px;
}

.jumbotron-screenshot.mobile-full {
  width: 940px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron-screenshot.mobile-full:after {
  border-radius: 16px;
}

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.marketing .row {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
}

.marketing h1, .marketing h2, .marketing h3 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.tagline {
  font-size: 36px;
  text-align: center;
}

.call-to-action {
  text-align: center;
}

/* Feature icons

.features {
  .icon {
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto 15px;
    text-align: center;
    vertical-align: middle;
    border: 3px solid $light-green-800;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    &:before {
      font-size: 60px;
      line-height: 83px;
      color: $light-green-800;
      margin: 0 auto;
    }
  }
}*/

.feature-icon {
  width: 10%;
  font-size: 60px;
  line-height: 83px;
  color: $light-green-800;
  margin: 0 auto;
  > i {
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto 15px;
    text-align: center;
    vertical-align: middle;
    border: 3px solid $light-green-800;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}

.icon-s:before {
  font-size: 30px;
  line-height: 30px;
  color: $light-green-800;
}

/* FEATURETTES
 * ------------------------------------------------- */

.featurette {
  padding-top: 20px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
  text-align: left;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */

}

.featurette-image {
  margin-top: 0px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}

.featurette-image.pull-right {
  margin-left: 40px;
}

/* PAGE
 * ------------------------------------------------- */

.page-title {
  background-color: $brown-700;
  color: $white;
  .text-muted {
    color: lighten($brown-700, 55%);
  }
}

.faq {
  background-color: $grey-200;
}

/* BLOG
 * ------------------------------------------------- */

.website_blog {
  background-color: $white;

  .oe_structure {
    section {
      background-color: $grey-200;
      border-bottom: 1px solid $grey-300;
    }
  }

  .cover {
    min-height: 400px !important;
  }

  .cover.cover_footer {
    height: 350px;
  }

  h1 {
    font: {
      size: 36px;
      weight: normal;
    }
  }
  h2 {
    font: {
      size: 26px;
      weight: 500;
    }
  }
  h3 {
    font: {
      size: 26px;
      weight: 500;
    }
  }
  h4 {
    font: {
      size: 18px;
      weight: 500;
    }
  }
}

.cover {
  .blog_title {
    h1 {
      font: {
        size: 30px;
        weight: normal;
      }
    }
    h2 {
      font: {
        size: 15px;
        weight: normal;
        color: $grey-500;
      }
    }
  }
}

.parallax {
  > div {
    min-height: 360px;
  }
}
